#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Name=Eggsmaker WEB
Comment=Graphical interface for Penguins' Eggs ISO creator
Exec=eggsmaker-web
Icon=eggsmaker
Terminal=false
Categories=System;Utility;Settings;
Keywords=iso;eggs;linux;remaster;
